/* testing - from RenderMe */
html, body {
  height:100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family:  Arial, Verdana, Helvetica, sans-serif;
  line-height: 1.8em;
  background: #fff;
  color: #000;
}

.content{
  margin-left: 3%;
}

p, ol, ul, td {
  font-family:  Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.title {
  font-size: 2em;
  font-weight: bold;
  padding: 5px 1%;
  margin: 0 auto;
  background: #393937;
  line-height: 1em;
  color: #dededd;
  border-top: 1px solid black;
  position: relative;
}

.title a{
  text-decoration: none;
  color: #dededd;
}

.title_links{
  position: absolute;
  right: 10px;
  bottom: 1px;
  font-size: 11px;
  font-weight: normal;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0;
  margin: 22px 0 7px 0;
  line-height: 1em;
  color: #393937;
}

ul{
  line-height: .5em;
}

.title_image{
  border: 1px solid #7589a0;
  margin-top: 1px;
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.item{
  background: #d9dde2;
  width: 800px;
  padding: 1px 10px;
  margin-top: 20px;
  position: relative;
}

.item_title{
  font-size: 15px;
  font-weight: bold;
}

.item_votes{
  font-size: 11px;
}

.item_actions{
  font-size: 11px;
  position: absolute;
  right: 10px;
  bottom: 1px;
}

.item_comment{
  width: 810px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  font-size:12px;
  padding-left:10px;
  padding-top: 5px;
  position: relative;
}

.item_comment_username{
  font-size: 11px;
  font-weight: bold;
  color: #00008b;
  display:inline;
  vertical-align: center;
}

.action_links{
  font-size: 15px;
  font-weight: bold;
  margin: 15px 0 0 0;
}

/*
body {
  background-color: white;
  color: white;
  font-family: arial, helvetica, sans-serif;
  font-size: 10px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
*/